*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(130deg ,rgb(80, 143, 13),rgba(128, 0, 51, 0.652));
}
.nav-head{
    display: flex;
    justify-content: space-between;
    position: relative;
    position: sticky;
    top: 0px;
    margin: 0px;
    font-weight: 700;
    background-color: aqua;
}
.logo{
    font-size: 30px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}
.navbar ul li{
    color: white;
    list-style-type: none;
    margin: 10px;
    justify-content: space-evenly;
    float: left;
    padding: 10px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: rgb(244, 153, 6);
    border: 1px solid greenyellow;
    border-radius: 5px;
    background: linear-gradient(130deg ,blue,purple);
}
button{
    color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}
button:hover{
    background: linear-gradient(130deg ,blue,purple);
    color: orange;  
}
#Home{ 
    margin-top: 10px;
}
h2{
    text-align: center;
}
p{
    margin-top: 20px;
}
.cards{
    height: 300px;
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.cards1{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.cards2{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.cards button{
    margin-top: 50px;
    padding: 15px;
    background-color: rgb(13, 244, 167);
}
#Education{
    background-color: azure;
    background: linear-gradient(130deg ,rgb(80, 143, 13),rgba(128, 0, 51, 0.652));
}
